body{
    margin:0;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(
        135deg,
        #ffe4ec,
        #fff5f8,
        #f0ffff
    );
    font-family:'Mali', cursive;
}
button{
    margin-top:20px;

    padding:14px 35px;

    border:none;
    border-radius:50px;

    background:linear-gradient(
        135deg,
        #ffb6d5,
        #ff7ca8
    );

    color:white;
    font-size:20px;
    font-weight:bold;
    font-family:'Mali', cursive;

    cursor:pointer;

    box-shadow:
        0 8px 20px rgba(255,124,168,.35);

    transition:.3s;

    animation:pulse 2s infinite;
}

button:hover{
    transform:translateY(-3px) scale(1.05);
    box-shadow:
        0 12px 25px rgba(255,124,168,.45);
}
.petal{
    position:fixed;
    top:-50px;
    font-size:25px;
    pointer-events:none;

    animation:fall linear forwards;
}

@keyframes fall{
    0%{
        transform:translateY(-50px) rotate(0deg);
        opacity:1;
    }

    100%{
        transform:translateY(110vh) rotate(360deg);
        opacity:0;
    }
}

.container{
    text-align:center;
    padding:20px;
}

h1{
    color:#ff7ca8;
    font-size:3rem;
    margin-bottom:20px;
}

.flower{
    width:280px;
    max-width:80%;
    margin:20px 0;
    animation:float 3s ease-in-out infinite;
}

@keyframes float{
    0%,100%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-10px);
    }
}

p{
    color:#777;
    font-size:20px;
}

button{
    margin-top:15px;
    border:none;
    padding:12px 30px;
    border-radius:30px;
    background:#ff9fc2;
    color:white;
    font-size:18px;
    font-family:'Mali', cursive;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.05);
}

.hidden{
    opacity:0;
    margin-top:20px;
    transition:.5s;
}

.show{
    opacity:1;
    color:#ff6f9e;
    font-size:20px;
}

.back-btn{
    position:fixed;
    top:20px;
    left:20px;
    width:45px;
    height:45px;
    border-radius:50%;
    background:white;
    text-decoration:none;
    color:#ff7ca8;
    font-size:28px;
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow:0 4px 10px rgba(0,0,0,.1);
}
